<ActionBar title="Google Maps Demo" class="action-bar">
</ActionBar>

<StackLayout>

    <GridLayout columns="*,*" rows="50,50" class="gridBorder">
        <Label text="Latitude" col="0" row="0"
            horizontalAlignment="right"></Label>
        <TextField col="1" row="0"
            horizontalAlignment="left" hint="Latitude"
            text="" [(ngModel)]="latitudeInput"></TextField>
        <Label text="Longitude" col="0" row="1"
            horizontalAlignment="right" textWrap="true"></Label>
        <TextField col="1" row="1"
            horizontalAlignment="left" hint="Longitude" text="" [(ngModel)]="longitudeInput"></TextField>
    </GridLayout>
    <GridLayout columns="*,*" rows="auto" class="gridBorder">
        <Button col="0" row="0" horizontalAlignment="right" class="updateButton"
            text="Update" (tap)="updateCurrentLocationFromInput()"></Button>
        <Label col="1" row="0" horizontalAlignment="left" class="myLocation"
        text="&#xf041;" (tap)="setCurrentLocation()"></Label>
    </GridLayout>

    <GridLayout class="mapBorder">
        <MapView
            latitude="{{ latitude }}"
            longitude="{{ longitude }}"
            zoom="{{ zoom }}"
            bearing="{{ bearing }}"
            tilt="{{ tilt }}"
            padding="{{ padding }}"
            (mapReady)="onMapReady($event)"
            (markerSelect)="onMarkerSelect($event)"
            (markerBeginDragging)="onMarkerBeginDragging($event)"
            (markerEndDragging)="onMarkerEndDragging($event)"
            (markerDrag)="onMarkerDrag($event)"
            (cameraChanged)="onCameraChanged($event)"></MapView>
    </GridLayout>

</StackLayout>
